.puzzle .index {
	font-family: monospace;
	font-style: italic;
	color: #00a;
	text-align:center;
}

.puzzle .rank {
	font-family:monospace;
	font-size:20px;
	text-align:center;
	font-weight:bold;
	color:#00f;
	background-color:#ffa;
	text-align:center;
}

.puzzle .username {
	padding-left:10px;
	padding-right:10px;
	font-family:monospace;
	font-weight:bold;
	background-color:#ffa;
	font-size:20px;
	color: #00f;
}

.puzzle .num {
	font-family:monospace;
	font-size:20px;
	padding:8px;
	font-weight:bold;
	color:#070;
	text-align:center;
}

.andmore {
	color: #700;
	font-style: italic;
}

.puzzles {
	color: #00f;
	text-align: center;
}