{% import 'macros.html' as macros %}

{{ macros.html_head("toplist") }}

toplist page {{ page }}.

<hr>

<table cellpadding="3" cellspacing="3" border="1">
	
{% for puzzle in puzzles %}

<tr id=""><td>{{ puzzle.index1 }}.</td><td style="font-family:monospace; font-size:18px; text-align:center; font-weight:bold; color:#00f; background-color:#ffa;">{{ puzzle.rank }}.</td><td style="padding-left:10px;font-family:monospace; font-weight:bold; background-color:#ffa; font-size:18px;"><a target="_blank" rel="noopener noreferrer" href="https://lichess.org/@/${username}">{{ puzzle.username }}</a></td><td style="font-family:monospace; font-size:18px; padding:8px; font-weight:bold; color:#070;">{{ puzzle.num }}</td><td>
	<div style="max-height:50px;overflow:scroll;">
	{% for id in puzzle.ids %}
	<a target="_blank" rel="noopener noreferrer" href="https://lichess.org/training/{{ id }}">{{ id }}</a>
	{% endfor %}
	</div>
</td></tr>

{% endfor %}
	
</table>

{{ macros.html_tail() }}